<!DOCTYPE html>
<html>
<head>
  <title>SpotyPi</title>
  <style>
    .box {
      
      width: 800px; /* Ubah ukuran kotak di sini */
      height: 300px; /* Ubah ukuran kotak di sini */
      border: 0px solid #ccc;
      padding: 20px;
      margin: 0 auto; /* Kotak akan berada di tengah */
      text-align: center; /* Tulisan di tengah kotak */
    }
    .bold {
      font-weight: bold; /* Tulisan dijadikan tebal */
      color: blue; /* Warna tulisan diubah menjadi biru */
      font-size: 24px; /* Ukuran tulisan diperbesar */
    }
  </style>
</head>
<body class="bg-[url('baru.jpg')] bg-center bg-[length:130%_auto] bg-no-repeat">
  <h1> </h1>
  <div class="box bg-transparent">
  <p><strong class="text-3xl font-bold sm:text-4xl mb-4 bg-gradient-to-r from-pink-500 to-violet-500 ">Selamat Datang di [SpotyPi]</strong></p> <p><strong class="text-3xl font-bold sm:text-4xl mb-4 bg-gradient-to-r from-pink-500 to-violet-500 ">Nikmati Musik Sesukamu di SpotyPi</strong></p> <br> <p><strong class="text-white m">Spotypi adalah platform musik daring yang menyediakan akses ke berbagai jenis musik dari berbagai genre. Di Spotypi, pengguna dapat menemukan lagu-lagu terbaru, membuat playlist pribadi, menelusuri artis favorit, dan menikmati konten musik yang beragam. Dengan antarmuka yang ramah pengguna, Spotypi dirancang untuk memudahkan pengguna menemukan dan menikmati musik sesuai dengan preferensi mereka.</strong</p>
  </div>
</body>
</html>